/* allmovies */
.all-movies {
  margin-top: 0;
  padding: 2rem;
  min-height: 82vh;
}

.search {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 8rem;
}

.table-responsive {
  overflow-x: auto;
}

.table {
  width: 90%;
  margin: 50px auto auto auto;
  border-collapse: collapse;
  border-spacing: 0;
  min-width: 750px;
}

.table-head {
  background: #001320;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-head > th {
  color: #ffffff;
  font-size: 1rem;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0.7rem 0.5rem;
  font-weight: normal;
  text-align: left;
}

.table-body > td {
  font-size: 1rem;
  padding: 0.25rem;
  border-bottom: 0.35px solid #000000;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.actions > .button {
  padding: 5%;
  background: #49c8a7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  min-width: 20px;
  max-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions > .button.edit {
  background: #49c8a7;
}

.actions > .button.delete {
  background: #ef544a;
}

.actions > .button > .icon {
  color: #ffffff;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .search {
    justify-content: center;
    padding: 1rem;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .search {
    padding: 1rem;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .search {
    padding: 1rem 2rem;
  }
}
